@import '../../styles/variables';

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55px;
  padding: 15px 5px;
  
  background-color: $main-dark-background;

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 100%;
  }

  &__name {
    font-family: $font-family-main;
  }

  &__icon {
    display: flex;
    align-self: center;
    width: 30px;
    height: 30px;
    font-weight: 300px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 500px) {

  .panel {

    &_selected {
      display: none;
    }
  }
}
