.dialogues {
  display: flex;
  width: 1000px;
  height: 700px;
  background-color: #090F1A;
  margin: 200px auto;
  justify-content: center;

  &__panel {
    width: 7%;
    height: 100%;
    color: red;
  }

  &__information {
    background-color: #131A2B;
    width: 35%;
    padding: 10px;
    overflow: auto;
    padding-top: 30px;
  }

  &__dialogue {
    background-color: #131A2B;
    width: 55%;
    overflow: auto;
    padding: 30px;
  }
}
