$main-background: #131A2B;
$main-dark-background: #0b1222;
$main-gray-font-color: #b9c4d6;
$main-light-gray-font-color: #e3e8f0;

//gradients
$red-violet-gradient: linear-gradient(150deg, #f82d5a, #bc2696, #811fce);
$yellow-red-gradient: linear-gradient(150deg, #fc9f61 20%, #fc6461, #ff3455);

$login-page-input-border-bottom: #bc2696;

$transparent: transparent;
$white: #ffffff;

$scroll-background: #0000001a;

$message-date: #696f7e;
$message-text: #ffd9d1;

//font-family
$font-family-message: "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
$font-family-main: "Trebuchet MS", Helvetica, sans-serif;
$font-family-login-label: 'PT Sans', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
