@import '../../styles/variables.scss';

.main-page {
  display: flex;
  max-width: 1200px;
  width: 90%;
  height: 650px;
  margin: 20px auto;
  justify-content: center;
  margin-top: 160px;
  color: $main-gray-font-color;

  &__choose-chat {
    background-color: $main-dark-background;
    font-family: $font-family-main;
    line-height: 1.2;
    border-radius: 15px;
    padding: 3px 15px;
    height: 25px;
    display: flex;
    align-items: center;
    align-self: center;
    margin: auto;
  }

  &__chat-container {
    background-color: $main-background;
    display: flex;
    width: 57%;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .main-page {
    width: 100%;
    height: 100%;
    margin: 0px;

    &__chat-container {
      display: none;
      width: 100%;

      &_selected {
        display: flex;
      }
    }
  }
}
