@import '../../styles/variables';

.main-page {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
  max-width: 1200px;
  height: 80%;
  margin: 20px auto;
  color: $main-gray-font-color;

  &__choose-chat {
    display: flex;
    align-items: center;
    align-self: center;
    height: 25px;
    margin: auto;
    padding: 3px 15px;
    font-family: $font-family-main;
    line-height: 1.2;
    background-color: $main-dark-background;
    border-radius: 15px;
  }

  &__chat-container {
    display: flex;
    width: 57%;
    background-color: $main-background;
  }
}
@media only screen and (max-width: 500px) {

  .main-page {
    width: 100%;
    height: 100%;
    margin: 0;

    &__chat-container {
      display: none;
      width: 100%;

      &_selected {
        display: flex;
      }
    }
  }
}
