@import '../../styles/variables';

.input-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 70px;
  padding: 0 15px;
  background-color: $main-dark-background;

  &__icon {
    width: 30px;
    height: 30px;
    font-weight: 300px;
    cursor: pointer;
  }

  &__input {
    box-sizing: border-box;
    width: 80%;
    margin: 8px 0;
    padding: 5px 10px;
    color: $main-gray-font-color;
    font-size: 18px;
    font-family: $font-family-main;
    background-color: $transparent;
    border: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $main-gray-font-color;
    }
  }
}
