@import '../../styles/variables';

.chat-room {
  display: flex;
  flex-direction: column;
  width: 100%;

  .user-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    font-family: $font-family-poppins;
    background-color: $main-dark-background;

    &__icon {
      display: flex;
      align-self: center;
      width: 40px;
      height: 30px;
      margin-right: 5px;
      font-weight: 300px;
      cursor: pointer;
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      padding-left: 7px;
    }

    &__user-info {
      display: flex;
      flex-direction: row;
    }

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    &__name {
      margin-bottom: 10px;
      font-size: 18px;
    }

    &__status-circle {
      width: 10px;
      height: 10px;
      background-color: #adff2f;
      border-radius: 100%;
    }

    &__status-text {
      color: $message-date;
      font-size: 10px;
    }
  }

  &__messages {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 20px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: $scroll-background;
    }
  }
}
@media only screen and (max-width: 500px) {

  .chat-room {

    &__messages {
      padding: 0 5px;
    }
  }
}
