@import '../../styles/variables.scss';

.message {
  background: transparent;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  margin: 10px;

  &_left {
    flex-direction: row;
  }

  &_right {
    flex-direction: row-reverse;
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    min-width: 70px;
  }

  &__avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  &__text {
    min-height: 35px;
    padding: 8px 15px;
    color: $message-text;
    font-size: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    line-height: 1.2;
    font-family: $font-family-message;
    word-break: break-word;
    max-width: 70%;

    &_left, &_right {
      
      margin-left: 10px;
    }

    &_left {
      background: $yellow-red-gradient;
      border-top-right-radius: 15px;
      align-self: flex-start;
    }

    &_right {
      background: $red-violet-gradient;
      border-top-left-radius: 15px;
      align-self: flex-end;
      margin-right: 8px;
      margin-top: 5px;
    }
  }

  &__date {
    color: $message-date;
    font-size: 14px;
    display: flex;

    &_right {
      align-self: flex-end;
    }

    &_left {
      align-self: flex-start;
    }
  }
}
