.message {
  width: 100%;
  background: transparent;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  margin: 10px;

  &_left {
    flex-direction: row;
  }

  &_right {
    flex-direction: row-reverse;
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    min-width: 70px;
  }

  &__avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  &__text {
    min-height: 35px;
    padding: 8px 15px;
    color: #ffd9d1;
    font-size: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    line-height: 1.2;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    word-break: break-word;
    max-width: 70%;

    &_left {
      background: linear-gradient(150deg, #fc9f61 20%, #fc6461, #ff3455);
      border-top-right-radius: 15px;
      margin-left: 10px;
      align-self: flex-start;
    }

    &_right {
      background: linear-gradient(150deg, #f82d5a, #bc2696, #811fce);
      border-top-left-radius: 15px;
      margin-right: 10px;
      align-self: flex-end;
    }
  }

  &__date {
    color: #696f7e;
    font-size: 14px;
    display: flex;

    &_right {
      align-self: flex-end;
    }

    &_left {
      align-self: flex-start;
    }
  }
}
